body {
    background-image: url(https://images.pexels.com/photos/1843717/pexels-photo-1843717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1;
  }
  
  header {
    background-color: #f61717;
    color: white;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  .menu-section {
    margin: 40px 0;
  }
  
  .menu-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .price {
    float: right;
    font-weight: bold;
  }

  .responsive {
    width: 50%;
    height: auto;
  }

  #footer{
    padding: 20px;
    background: rgb(30, 30, 30);
    color: lightgrey;
  }
  #footer a {
    color: lightgrey;
    font-size: 25px;
  }
  
  #footer a:hover {
    color: white;
  }
  
  /* Agrega más estilos personalizados aquí */
  